body{
    background-image: linear-gradient(90deg, rgba(247,245,255,1) 0%, rgba(200,210,255,1) 50%, rgba(130,151,207,1) 100%);
}

.navbar{
    background-color: DarkGray;
    text-align: center;
    padding:10px;
}
.navbar a{
     padding:120px;
    text-decoration:none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}
a:link {
        color: DarkBlue;
}
a:visited {
        color: green;
}
 a:hover {
        color: red;
}
.tips{
    color:DarkBlue;
    text-align:center;
    margin:50px;
    font-family: 'Lato', sans-serif;
}
p{
       text-align:center;
       font-size:25px;
       font-family: 'Lato', sans-serif;

}
     