	body{
		background-image: radial-gradient(circle, rgba(178,194,191,1) 0%, rgba(234,236,229,1) 100%);
	}

	ul{
    list-style-type: none;
    color:rgb(226,226,226);
    letter-spacing: 5px;
    font-size: 18px;
    font-weight: bold;
    }
    
    li{
    float: right;
    }
    
    li a{
    display: block;
    color: #d3dbe2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    }
    
    li a:hover{
    background-color: #278888;
    }
    
    nav
    {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#77a8a8;
    margin:10px;
    }
    
    .navbar
    {
    color:#d3dbe2;
    letter-spacing: 5px;
    font-size: 20px;
    }
    
    .nav-links a
    {
    color:#d3dbe2;
    text-decoration: none;
    letter-spacing: 3p
    }
	h1{
		color:#3b3a30;
		text-align:center;
		margin:50px;
		font-family: 'Lato', sans-serif;
	}

	.pLeft{
	   font-size:20px;
	   font-family: 'Lato', sans-serif;
		margin-top:80px;
	 }

	.leftPics{
		margin:30px;
		float: left;
	width:10%;
	}

	.pRight{
		text-align:right;
		font-size:20px;
		margin:30px;
		font-family: 'Lato', sans-serif;
				margin-top:60px;

	}

	.rightPics{
		margin:30px;
		float: right;
		width:10%;
	}

	.buttonRight {
		float:right;
		display:inline-block;
		padding:0.35em 1.2em;
		border:0.1em solid #FFFFFF;
		margin:0 0.3em 0.3em 0;
		border-radius:0.12em;
		box-sizing: border-box;
		text-decoration:none;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		color:#FFFFFF;
		text-align:center;
		transition: all 0.2s;
	}
	
	.buttonRight:hover{
		color:#000000;
	background-color:#FFFFFF;
	}
	
	.buttonLeft {
		float:left;
	    display:inline-block;
		padding:0.35em 1.2em;
		border:0.1em solid #FFFFFF;
		margin:0 0.3em 0.3em 0;
		border-radius:0.12em;
		box-sizing: border-box;
		text-decoration:none;
		font-family: 'Lato', sans-serif;
		font-weight:300;
		color:#FFFFFF;
		text-align:center;
		transition: all 0.2s;
	}
	
	.buttonLeft:hover{
	color:#000000;
	background-color:#FFFFFF;
	}