body{
    background-image: radial-gradient(circle, rgba(178,194,191,1) 0%, rgba(234,236,229,1) 100%);
}

  ul{
  list-style-type: none;
  color:rgb(226,226,226);
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: bold;
  }
  
  li{
  float: right;
  }
  
  li a{
  display: block;
  color: #d3dbe2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  }
  
  li a:hover{
  background-color: #278888;
  }
  
  nav
  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#77a8a8;
  margin:10px;
  }
  
  .navbar
  {
  color:#d3dbe2;
  letter-spacing: 5px;
  font-size: 20px;
  }
  
  .nav-links a
  {
  color:#d3dbe2;
  text-decoration: none;
  letter-spacing: 3p
  }

.tips{
    color:#3b3a30;
    text-align:center;
    margin:50px;
    font-family: 'Lato', sans-serif;
}
p{
       text-align:center;
       font-size:25px;
       font-family: 'Lato', sans-serif;

}
     
